/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 17/10/2023, 8:13:48 a. m.
    Author     : Sena
*/

.bg-green {
  --bs-bg-opacity: 1;
  background-color: rgba(57,169,0,255) !important;
}

.desplegable-user{
    
    display: flex;
    flex-direction: column;
    
}